.statistics {
  width: 400px;
  margin: 0 auto;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title {
  padding: 20px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #252729;
  border-bottom: 1px solid #ccc;
}

.statList {
  display: flex;
  text-align: center;

  padding: 0px;
  margin: 0px;
}

.item {
  padding: 15px 19px;
  display: flex;
  flex-direction: column;
  width: 41px;

  border-right: 1px solid #ccc;
  color: #fff;
}

.label {
  margin-bottom: 5px;
}
